@theme{
  --animate-feedback: feedback 3s ease-in-out alternate forwards;
  @keyframes feedback {
    0% {
      transform: translateY(-3rem);
    }
    10% {
      transform: translateY(1.25rem);
    }
    50% {
      transform: translateY(1rem);
    }
    90% {
      transform: translateY(1.25rem);
    }
    100% {
      transform: translateY(-3rem);
    }
  }
}